<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/main.css" />
        <script src="../static/js/main.js" defer></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="flex flex-col h-screen">
            <nav
                class="flex flex-wrap bg-cyan-600 py-6 px-8 text-white justify-between items-center"
            >
                <a href="/#" class="block font-semibold text-xl tracking-tight">Nome do Site</a>
                <div class="block lg:hidden">
                    <button
                        id="button"
                        class="flex items-center px-3 py-2 border rounded text-white border-white hover:opacity-70 transition-opacity"
                    >
                        <svg
                            class="fill-current h-3 w-3"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <title>Menu</title>
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                        </svg>
                    </button>
                </div>
                <div id="navbar" class="hidden w-full lg:w-auto lg:block">
                    <div class="text-sm">
                        {% if user.is_authenticated %}
                        <a
                            href="/"
                            class="block mt-4 lg:inline-block lg:mt-0 mr-4 hover:opacity-70 transition-opacity {% block home %}{% endblock %}"
                            >Home</a
                        >
                        <a
                            href="/logout"
                            class="block mt-4 lg:inline-block lg:mt-0 mr-4 hover:opacity-70 transition-opacity {% block logout %}{% endblock %}"
                            >Sair</a
                        >
                        {% else %}
                        <a
                            href="/login"
                            class="block mt-4 lg:inline-block lg:mt-0 mr-4 hover:opacity-70 transition-opacity {% block login %}{% endblock %}"
                            >Login</a
                        >
                        <a
                            href="/inscreva-se"
                            class="block mt-4 lg:inline-block lg:mt-0 mr-4 hover:opacity-70 transition-opacity {% block inscrevase %}{% endblock %}"
                            >Inscreva-se</a
                        >
                        {% endif %}
                        <a
                            href="/criadores"
                            class="block mt-4 lg:inline-block lg:mt-0 hover:opacity-70 transition-opacity {% block criadores %}{% endblock %}"
                            >Criadores</a
                        >
                    </div>
                </div>
            </nav>

            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {%for
            category, message in messages %} {% if category == 'sucesso'%}
            <div
                class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
                role="alert"
            >
                <strong class="font-bold">Sucesso:</strong>
                <span class="block sm:inline">{{ message }}</span>
                <span
                    onClick="this.parentNode.parentNode.removeChild(this.parentNode);"
                    class="absolute top-0 bottom-0 right-0 px-4 py-3"
                >
                    <svg
                        class="fill-current h-6 w-6 text-green-500"
                        role="button"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                    >
                        <title>Close</title>
                        <path
                            d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
                        />
                    </svg>
                </span>
            </div>
            {% else %}
            <div
                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                role="alert"
            >
                <strong class="font-bold">Erro:</strong>
                <span class="block sm:inline">{{ message }}</span>
                <span
                    onClick="this.parentNode.parentNode.removeChild(this.parentNode);"
                    class="absolute top-0 bottom-0 right-0 px-4 py-3"
                >
                    <svg
                        class="fill-current h-6 w-6 text-red-500"
                        role="button"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                    >
                        <title>Close</title>
                        <path
                            d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
                        />
                    </svg>
                </span>
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}

            <div class="w-full bg-stone-200 flex-grow">
                <div class="">{% block content %} {% endblock %}</div>
            </div>
        </div>
    </body>
</html>
