<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/main.css" />
        <script src="../static/js/main.js" defer></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="flex flex-col h-screen">
            <nav
                class="flex flex-wrap bg-cyan-600 py-6 px-8 text-white justify-between items-center"
            >
                <a href="/#" class="block font-semibold text-xl tracking-tight">Nome do Site</a>
                <div class="block lg:hidden">
                    <button
                        id="button"
                        class="flex items-center px-3 py-2 border rounded text-white border-white hover:opacity-70 transition-opacity"
                    >
                        <svg
                            class="fill-current h-3 w-3"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <title>Menu</title>
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                        </svg>
                    </button>
                </div>
                <div id="navbar" class="hidden w-full lg:w-auto lg:block">
                    <div class="text-sm">
                        <a
                            href="/"
                            class="block mt-4 lg:inline-block lg:mt-0 mr-4 hover:opacity-70 transition-opacity {% block home %}{% endblock %}"
                            >Home</a
                        >
                        <a
                            href="/login"
                            class="block mt-4 lg:inline-block lg:mt-0 mr-4 hover:opacity-70 transition-opacity {% block login %}{% endblock %}"
                            >Login</a
                        >
                        <a
                            href="/inscreva-se"
                            class="block mt-4 lg:inline-block lg:mt-0 mr-4 hover:opacity-70 transition-opacity {% block inscrevase %}{% endblock %}"
                            >Inscreva-se</a
                        >
                        <a
                            href="/criadores"
                            class="block mt-4 lg:inline-block lg:mt-0 hover:opacity-70 transition-opacity {% block criadores %}{% endblock %}"
                            >Criadores</a
                        >
                    </div>
                </div>
            </nav>

            <div class="w-full bg-stone-200 flex-grow">
                <div class="">{% block content %} {% endblock %}</div>
            </div>
        </div>
    </body>
</html>
