{% extends 'index.html' %} {% block title %}Inscreva-se{% endblock %} {% block inscrevase %}
font-semibold {% endblock %} {% block content %}
<div class="flex mt-16 justify-center items-center mx-8">
    <div class="w-full max-w-4xl">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <input
                    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-cyan-600 transition-all"
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Escreva seu email"
                />
            </div>

            <div class="flex flex-wrap mb-4 -mx-3">
                <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="nome"
                        >Nome</label
                    >
                    <input
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-cyan-600 transition-all"
                        type="text"
                        id="nome"
                        name="nome"
                        placeholder="Escreva seu nome"
                    />
                </div>

                <div class="w-full md:w-1/2 px-3">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="sobrenome"
                        >Sobrenome</label
                    >
                    <input
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-cyan-600 transition-all"
                        type="text"
                        id="sobrenome"
                        name="sobrenome"
                        placeholder="Escreva seu sobrenome"
                    />
                </div>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="senha1">Senha</label>
                <input
                    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-cyan-600 transition-all"
                    type="password"
                    id="senha1"
                    name="senha1"
                    placeholder="Escreva sua senha"
                />
            </div>

            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="senha2"
                    >Confirme sua senha</label
                >
                <input
                    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-cyan-600 transition-all"
                    type="password"
                    id="senha2"
                    name="senha2"
                    placeholder="Confirme sua senha"
                />
            </div>

            <div class="w-full flex justify-center">
                <button
                    class="shadow bg-cyan-600 hover:opacity-70 transition-opacity focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    type="button"
                >
                    Inscrever-se
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
